.wrapper {
	color: black;
}

.board_table {
	color: black;
	border: 1px solid #ccc;
}

.caption {
	text-align: center !important;
}

.pagination {
	display: inline-block;
	margin-left:200px;
	
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.pagination strong {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
}

.pagination

a
:hover
:not

(
.active

)
{
background-color
:

#ddd
;


}
.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mt-75 {
	margin-top: 75px;
}

.write-pannel {
	width: 600px;
	background: #F9F9F9;
	padding-top: 20px;
	padding-bottom: 20px; margin : auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	margin: auto;
}

.write-btn {
	width: 300px !important;
}
.submitButton{text-align:center;}


.menu {
  
  display: inline-block;
  
}
.drop-menu { margin: 0; padding: 0; }
.drop-menu li {
  float: left;
  list-style:none;
  position: relative;
}

.drop-menu a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.drop-menu ul {
	text-align: center;
  background: #eee;
  border: 1px solid silver;
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 70px;
  width: 135px;
}
.drop-menu ul li { float: none; }
.drop-menu ul li.expand { background: #ddd; }
.drop-menu ul li.expand a { color: black; }
.drop-menu ul a { color: black; }
.drop-menu ul ul { left: 100%; top: 0; }
